<% if not @game.started? %>
  <h2>Game has not started!!</h2>
<% end %>

<h2>Currently <%= @player.nickname %>'s turn</h2>
<div>
  <% @round.hands.each do |nickname, hand| %>
    <li>
      <b><%= nickname %>'s hand</b>
      <ul>
        <% hand.each do |card| %>
          <li><%= card %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</div>

<div><b>Pile Top</b>: <%= @round.pile.top %></div>

<div><b>Deck</b> (<%= @round.deck.size %> cards)</div>

<pre style="background:orange"><%= @options.to_yaml %></pre>
