<!DOCTYPE html>
<html>
<head>
  <title>LastCard</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h1>
      <a href="/">Last Card</a>
    </h1>

    <nav>
      <%= link_to "Loby", games_path %>
      <%= link_to "About", about_path %>
      <a href="/logout">Log out</a>
    </nav>

    <% if @user %>
      <%= yield %>
    <% else %>
      To play, please log in with
      <a href="/auth/google_oauth2">
        <img alt="Google plus" width="15px" height="15px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png">
        Google
      </a>
    <% end %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
