<!DOCTYPE html>
<html>
<head>
  <title>LastCard</title>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.4/semantic.min.js' %>
  <%= css_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.4/semantic.min.css' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h1>
      <a href="/">Last Card</a>
    </h1>

    <nav>
      <%= link_to "Loby", games_path %>
      <%= link_to "About", about_path %>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
