<!DOCTYPE html>
<html>
<head>
  <title>LastCard</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h1>
      <a href="/">Last Card</a>
    </h1>

    <nav>
      <%= link_to "Loby", games_path %>
      <%= link_to "About", about_path %>
    </nav>

    <hr>

    <%= yield %>
  </div>
</body>
</html>
